.top-text {
    margin-bottom: 18rem;
}

.training {
    font-size: 6rem;
}

.bottom-text {
    background-color: rgb(128, 128, 128, .8);
}

.col,
.bg-fade {
    text-align: center;
}

#img1 {
    background-image: url('./images/img_home_organizational.jpg');
}

#img1:hover {
    border: gray 1px solid;
}

#img2 {
    background-image: url('./images/img_home_economical.jpg');
}

#img2:hover {
    border: gray 1px solid;
}

#img3 {
    background-image: url('./images/img_home_programs.jpg');
}

#img3:hover {
    border: gray 1px solid;
}

.card-bg-c {
    background-color: rgb(240, 255, 240, .8);
}

.contact {
    color: white;
    text-align: center;
    background-color: skyblue;
    padding: 2rem;
}

.form-inline {
    justify-content: center;
}

.input-form {
    width: 25rem !important;
    border-radius: 15%;
}

.btn-form {
    width: 15rem !important;
    border-radius: 15%;
    background-color: transparent;
    border: white solid 1px;
}

.full {
    width: 100%;
}

.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}

.footer {
    background: black;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}

.footer p {
    margin: 0;
}

.footer img {
    max-width: 100%;
}

.footer h3 {
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 0px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.footer h4 {
    color: white;
    /* font-size: 2em; */
    font-weight: 600;
    line-height: 60px;
    /* font-family: cursive; */
    font-weight: lighter
}

.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0px;
    color: #7F8C8D;
    padding: 0 0 8px 0;
}

.email {
    border-bottom: 3px solid #fff;
}

.footer ul li a {
    padding: 0 0 12px 0;
    display: block;
}

.footer a {
    color: white;
    font-weight: lighter;
}

.footer p {
    color: white;
    font-weight: lighter;
    font-size:
}

.footer a:hover {
    text-decoration: none;
    font-weight: bold;
}

.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}

.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}

.footer a {
    color: #78828D
}

.footer-bottom {
    background-color: gray;
    border-top: 1px solid #DDDDDD;
    padding-top: 20px;
    padding-bottom: 10px;
}

.footer-bottom p.pull-left {
    padding-top: 6px;
    font-size: 0.75em
}

.invest {
    margin-top: 1em;
    text-transform: uppercase;
    font-size: 3.5rem;
}